body
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: deeppink;
    font-size: 16px;
    margin: 0em;
    padding: 0;
}
#contenedor
{
    width: 70%;
    padding: 2cm;
    text-align: left;
    border: 2px solid black;
    margin: 0em auto;
}
#contenedor h1 
{
    font-size: 24px;
}